body {
  width: 90%;
  height: 80%;
  max-width: 1200px;
  margin: auto;
  border: 2px solid #000;
  font: 16px/1.5 "Helvetica Neue", Arial, sans-serif;
}


.structural {
  margin: 10px;
  padding: 10px;
}


h1 {
  color: #8c441a;
  font-size: 24px;
  border: #f1d9d9;
  text-align: center;
  background-color: #de9f0c;
  padding: 10px ;
}


h2 {
  color: #b48415;
  font-size: 20px;
}


main {
  height: 70vh;
}


img {
  border: 2px solid #060303;
  width: 90%;
  height: 80%;
}


figure {
  background-color: #e5750c;
  width: 45%;
  height: 60%;
  margin: auto;
  padding: 10px;
}


figure:nth-child(even)
{
  float: right;
}

figure:nth-child(odd) 
{
  float: left;
}


section {
  clear: both;
}


figcaption {
  font-weight: bold;
  font-size: 14px;
  color: #007899;
  padding: 5px;
}


a {
  color: #2b09eb;
}


:hover{
  color: rgb(194, 5, 5);
}

ul {
  list-style-type: square;
  line-height: 1.4;
}

header{
  background-color: rgb(210, 209, 209) ;
}
footer {
  background-color: rgb(210, 209, 209);
}